body{
    background-color: #bed3ee;
}

nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: end;
    margin-right: 25px;
}

.navbtn{
    text-decoration: none;
    background-color: rgb(189, 139, 236);
    border-radius: 10px;
    color: #020202;
    padding: 10px;
    display:block;
}

.rifa{
    display: flex;
    justify-content: center;
}

.content-rifa{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    
}

.btn-number{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 7px;
    font-size: 1.5em;
    font-weight: bold;
    transition: 0.2s;
}

.available{
    box-shadow: 1px 1px 4px black;
    background-color: #98db9b;
}
.available:hover{
    transform:scale(1.15);
}

.not-available{
    background-color: #eba1a1;
}

.reserved{
    background-color: #9cbdfa;
}

.selected{
    box-shadow: 1px 1px 4px black;
    background-color: rgb(235, 255, 122);
}
.selected:hover{
    transform:scale(1.15);

}