html {
    scroll-behavior: smooth;
}

body{
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logonav{
    width: 100px;
    margin-left: 50px;
}

header{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100%;
    background-color: rgba(247,247,247,0.7);
    margin-top: -10px;
    box-sizing: border-box;
}
/* Iconos */
#homeicon{
    display: none;
}
#rifaicon{
    display: none;
}
#premioicon{
    display: none;
}
#agradeicon{
    display: none;
}
/* Iconos */
/* Table */
.table {

  width: 90%;
  max-width: 800px;
  border-collapse: collapse;
  margin-top: 20px;
}

.table .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table .cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.table .header {
  background-color: #00457E;
  font-weight: bold;
}

.table .header .cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background: #00457E;
  color: #F7F7F7;
}

    /* Table */

nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
    padding: 0px;
    margin-right: 50px;
}

.navbtn{
    text-decoration: none;
    background-color: #00457E;
    border-radius: 10px;
    color: #F7F7F7;
    padding: 10px;
    display:block;
    box-shadow: 1px 1px 2px gray;
    text-transform: uppercase;
    cursor: pointer;
}

.navbtn:hover{
    opacity: 0.8;
}

.buybtn{
    background-color: #00457E;
    border-radius: 10px;
    color: #F7F7F7;
    padding: 10px;
    box-shadow: 1px 1px 2px gray;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3em;
}

.buybtn:hover{
    opacity: 0.8;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
}

#home img{
    width: 30%;
    min-width: 250px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
}

#home article{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.1rem;
    color:#00457E;
    text-shadow: 1px 1px 2px gray;}
h3{
    font-size: 1.7rem;
    color:#00457E;
    text-shadow: 1px 1px 2px gray;
}

.home-title{
    text-transform: uppercase;
    color:#00457E;
    text-shadow: 1px 1px 2px gray;
}

.home-subtitle{
    font-size: 2em;
    max-width: 600px;
}

.rifa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.countdown{
    font-size: 5em;
    text-transform: uppercase;
    color:#00457E;
    text-shadow: 1px 1px 2px gray;
    border: 1px solid gray;
    padding: 30px;
    border-radius: 25px;
    background-color:#00457e4b;
}

.content-rifa{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    background-color: #e7e7e7;
    border-radius: 25px;
    box-shadow: 1px 1px 4px black;
    padding: 15px;
    overflow: hidden;    
}

.btn-number{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 7px;
    font-size: 1.5em;
    font-weight: bold;
    transition: 0.2s;
}

.infobtn{
    width: 70%;
    margin-bottom: 40px;
    line-height: 33px;
    font-size: 1.4em;
    text-align: center;
}

.descbtn{
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

.available{
    box-shadow: 1px 1px 4px black;
    background-color: #98db9b;
    cursor: pointer;
}
.available:hover{
    transform:scale(1.15);
}

.not-available{
    background-color: #eba1a1;
}

.reserved{
    background-color: #ac659cb9;
}

.pending{
    background-color: #9cbdfa;
}

.selected{
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
    background-color: rgb(235, 255, 122);
}
.selected:hover{
    transform:scale(1.15);
}

.premios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.trasnalias{
    color: #00457E;
    max-width: 500px;
    text-align: center;
    font-size: 1.2em;
    margin-block: 60px;
}

.gicard{
    background-color: #e7e7e7;
    width: 80%;
    border-radius: 25px;
    box-shadow: 1px 1px 4px black;
    padding-block: 20px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
}

.gc2{
    flex-wrap: wrap-reverse !important;
}

.imggirf {
    width: 20vw;
    height: 20vw;
    max-width: 350px; 
    max-height: 350px;
    border-radius: 25px;
    box-shadow: 1px 1px 4px black;
    object-fit: cover;
}

.textgirf{
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.descpremio{
    font-size: 1.5em;
}

.agradecimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.esthetichouse-ty{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.ty{
    width: 40%;
    font-size: 1.5em;
}

footer{
    padding-top: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #00457E;
    flex-direction: column;
    gap: 5px;
}

.iconfooter{
    width: 25px;
    height: 25px;
    margin-inline: 10px;
}
.modalwindow{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e7e7e7;
    border-radius: 25px;
    box-shadow: 1px 1px 4px #00457E;
    padding: 20px;
    max-width: 500px;
    min-width: 300px;
}
.modalreserved{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 400;
    top: 0px;
}

.headmodal{
    display: flex;
    justify-content: end;
}
.btnclosemodal{
    display: block;
    background-color: #00457E;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}
.btnclosemodal:hover{
    opacity: 0.8;
}
.iconclosemodal{
    margin: -5px;
}
.textmodal{
    color: #00457E;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 1px 2px gray  ;
}
#contactForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #00457E;
}
.footermodal{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-group input{
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #00457E;
    text-align: center;
}
.submitbtn{
    display: block;
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #00457E;
    cursor: pointer;
    color: #00457E;
    text-transform: uppercase;
}
.submitbtn:hover{
    background-color: #00457e17;
}

@media (max-width: 1244px) { 
    .imggirf {
        width: 300px;
        height: 300px;
        margin: 10px;
    }
    .textgirf{
        width: 58%;
        padding-inline: 5px;
    }    
 }

@media (max-width: 1187px){
    #home img{
        width: 325px;
    }
    
    #home article{
        width: 60%;
    }
 }

@media (max-width: 1015px) { 
    .imggirf {
        width: 300px;
        height: 300px;
    }
    .textgirf{
        width: 90%;
        padding-inline: 5px;
    }
    .textgirf p{
        margin-top: -20px;
    }
    #home article{
        width: 60%;
    }
    .infobtn{
        width: 90%;
    }
 }
@media (max-width: 995px){
    #home {
        height: auto;
        margin-top: 75px;
    }  
    #home article{
        width: 100%;
    }
    .logonav{
        width: 80px;
    }
    
    nav{
        justify-content: space-between;
        width:100%;   
    }
}
@media (max-width: 847px){
    .countdown{
        font-size: 4.1em;
    }    
    .esthetichouse-ty{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .ty{
        width: 95%;
        font-size: 1.3em;
    }
  
}

@media (max-width: 714px){
    .gicard{
        width: 97%;
        padding-block: 20px;
    }
    .countdown{
        font-size: 3.5em;
        padding: 23px;
    }

    .logonav{
        width: 65px;
    }
}

@media (max-width: 610px){
    .infobtn{
        width: 95%;   
        font-size: 1.3em;    
    }
    h1{
        font-size: 2.5em;
    }
    .home-subtitle{
        font-size: 1.9em;
    }
    .countdown{
        font-size: 3em;
        padding: 12px;
    }
    .logonav{
        width: 60px;
        margin-left: 20px;
    }

    #homeicon{
        display: block;
    }
    #hometext{
        display: none;
    }
    #rifatext{
        display: none;
    }
    #rifaicon{
        display: block;
    }
    #agradeicon{
        display: block;
    }
    #agradetext{
        display: none;
    }
    #premioicon{
        display: block;
    }
    #premiotext{
        display: none;
    }


    nav{
        justify-content: space-between;
        padding: 0px;
    }
}  
@media (max-width: 512px){
    h1{
        font-size: 2em;
    }
    .home-subtitle{
        font-size: 1.5em;
    }
    .countdown{
        font-size: 2.7em;
        padding: 12px;
    }
    .logonav{
        width: 55px;
        margin-left: 5px;
    }
    .modalwindow{
        width: 80%;
    }

    
}
@media (max-width: 466px){
    .imggirf {
        width: 80vw;
        height: 80vw;
    }

    .textgirf p{
        font-size: 1.3em;
    }

    .countdown{
        font-size: 2.1em;
        padding: 12px;
        text-align: center;
    }
    h2{
        font-size: 1.7em;
    }
    h3{
        font-size: 1.4em;
    }

}
@media (max-width: 400px){

    .countdown{
        font-size: 1.5em;
        padding: 10px;
    }
    nav ul{
        margin-right: 15px;
    }
}

 
 